.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.form-field {
  width: 800px;
}

@media screen and (max-width: 400px) {
  .form-field {
    width: 320px;
  }
}
