<div class="task">
  <div>
    <mat-form-field [style.width.px]="500" appearance="fill">
      <mat-label>Enter the task...</mat-label>
      <input matInput class="input-field" #input />
      <mat-error></mat-error>
    </mat-form-field>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      class="add-button"
      (click)="display.addTask(input.value)"
      [disabled]="input.value.trim() == ''"
    >
      Add
    </button>
  </div>
</div>
<app-task-list #display></app-task-list>
