.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1.5rem;
}

.list {
  width: 48%;
}

.heading {
  text-align: center;
}

.card {
  background-color: ghostwhite;
  overflow: auto;
  word-wrap: break-word;
}

.content {
  position: relative;
}

.done-button {
  position: absolute;
  right: -10px;
  bottom: 3px;
}
.mark-button {
  position: absolute;
  right: 29px;
  bottom: 3px;
}

@media screen and (max-width: 400px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .list {
    width: 90%;
    margin-top: 1.5rem;
  }
}
