body {
  width: 45%;
  margin: 20px;
}
div .card {
  background-color: ghostwhite;
  overflow: auto;
  word-wrap: break-word;
}
div .heading {
  text-align: center;
}

.content {
  position: relative;
}
.done-button {
  position: absolute;
  right: -10px;
  bottom: 3px;
}
.mark-button {
    position: absolute;
    right: 24px;
    bottom: 3px;
  }
